* {
    margin: 0px;
    padding: 0px;
}

body {
    background: lightgray;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

#container {
    /*width: 95%;*/
    width: 1700px;
    margin: 0px auto;
    border: 1px solid red;
}

header {
    background: rgb(255, 0, 102);
    height: 250px;
    width: 100%;
    margin: 0px;
    text-align: center;
    line-height: 250px;
    color: white;
    border-bottom: 20px solid white;
}

nav {
    background:rgb(255, 204, 0);
    height: 100px;
    width: 75%;

}

nav ul li {
    float: left;
    list-style: none;
    margin: 40px;
    line-height: 1px;
    
}

.clearfix {
    clear: both;
}